*{margin: 0; padding: 0; box-sizing: border-box;}

h1{
    text-align: center;
    color: #ff0000
}

.formulario{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

form{
    margin: 20px auto 0;
    width: 400px;
}

div{
    padding: 10px 5px;
}

label{
    display: inline-block;
    width: 200px;
}



button{
    height: 30px;
    width: 100%;
    margin-top: 30px;
}
